:root{
    --msg-in: rgb(142, 107, 107);
    --msg-out: rgb(219, 192, 173);
    --msg-in-inner: rgb(180, 142, 142);
    --msg-out-inner: rgb(188, 197, 155);
    --bars: rgb(222, 243, 201);
    --some-more-bars: rgb(195, 180, 238);
    --side-pane: rgb(230, 197, 236);

    --side-pane-primary-text: rgb(190, 152, 152);
    --side-pane-secondary-text: rgb(68, 240, 15);
    
    --msg-in-text: rgb(255, 255, 255);
    --msg-out-text: rgb(0, 0, 0);
    --msg-in-link: rgb(130, 196, 159);
    --msg-out-link: rgb(227, 148, 59);

    --chat-background: peachpuff;
    
}

/* ---------------------------------------------- */

/* Chat Background */
[data-asset-chat-background-dark]{
    background-color: var(--chat-background) !important;
}

/* BARS: Chahiye Yaar And Some Bars:: 36 - Raftaar */
.xa1v5g2.x1n2onr6.x9f619.x78zum5,
.x1n2onr6.xfo81ep.x9f619.x78zum5,
.x1n2onr6.xhtitgo.x9f619.x78zum5
{
    background-color: var(--bars) !important;
}

/*---Some More BARS---*/

.x9f619.x78zum5.x6s0dn4.x1s1d1n7,
.x9f619.x12lumcd.x1qrby5j.xeuugli,
.xu06os2,
._ak72.false._ak73._ak7p
{
    background: var(--some-more-bars) !important;
}

/* Side Pane::Filter */
#all-filter,
#unread-filter,
#favorites-filter,
#group-filter{
    background-color: var(--some-more-bars) !important;
}


/* ----------------------------------------------- */


/* Pane Side */

.x78zum5.x1q0g3np.x1a02dak.x1ky8ojb,
.xd32934.x9f619.x78zum5.x150wa6m,
._ak72.false._ak73,
#side ._aoq2._ai01,
#pane-side
{
    background-color: var(--side-pane) !important;
}


/* ------------------------------------------------ */


/*---Message: Background---*/

/* message-in */
.message-in ._amk6._amlo{
    background-color: var(--msg-in);
}

/* message-out */
.message-out ._amk6._amlo{
    background-color: var(--msg-out);
    /* color: white; */
}


/*---Border-Radius---*/

/* message-in */
.message-in .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4{
    border-radius: 0 7px 7px 7px;
}
/* message-out */
.message-out .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4{
    border-radius: 7px 0 7px 7px;
}


/*---Message: Little Tail---*/

/* message-in */
.message-in  ._amk7{
    color: var(--msg-in) !important;
}
/* message-out */
.message-out ._amk7{
    color: var(--msg-out) !important;
}


/*---Message: Inner---*/

/* Reply */
/* message-in */
.message-in ._aju8{
    background-color: var(--msg-in-inner);
}

/* message-out*/
.message-out ._aju8{
    background-color: var(--msg-out-inner);
}


/*---Special Inner---*/

/* Documents Inner */
/* message-in */
.message-in ._amk6._amlo .x9f619.x1o095ql.x1u9i22x.xjcl138 .x168nmei.x13lgxp2.x1k6n2fr.xmper1u{
    background-color: var(--msg-in-inner);
    border-radius: 7px 0 7px 0 7px !important;
}
/* message-out */
.message-out ._amk6._amlo .x9f619.x1o095ql.x1u9i22x.xjcl138 .x168nmei.x13lgxp2.x1k6n2fr.xmper1u{
    background-color: var(--msg-out-inner);
    border-radius: 7px 0 7px 0 7px !important;
}

/* Documents With Caption */
/* message-in */
.message-in ._amk6._amlo .x1c4vz4f.xs83m0k.xdl72j9.x1g77sc7{
    background-color: var(--msg-in-inner);
}

/* Group Document Inner */

/* Link Inner */
/* message-in */
.message-in ._amk6._amlo .x6ikm8r.x10wlt62.xnhwuio.x1k6n2fr{
    background-color: var(--msg-out-inner);
}
/* message-out */
.message-out ._amk6._amlo .x6ikm8r.x10wlt62.xnhwuio.x1k6n2fr{
    background-color: var(--msg-out-inner);
}


/*---Texts---*/

/* Pane Side::Primary Text */

/* Page Heading For Ex:- (Chats) */
/* Names */
.x1qlqyl8.x1pd3egz.xcgk4ki,
#pane-side ._ak8q {
    color: var(--side-pane-primary-text) !important;
}

/* Secondary Text */
/* Message Preview */
/* Timestamp */
#pane-side ._ak8k,
#pane-side ._ak8i{
    color: var(--side-pane-secondary-text) !important;
} 

/* Header::Side Pane */
.x78zum5.x6s0dn4.x1afcbsf.x6s6g2w{
    color: var(--side-pane-secondary-text);
}

/* Search Bar::Side Pane */
/* Search PlaceHolder */
/* Search Text */
#side ._ai04 span,
._aoq2 ._ah_-,
.lexical-rich-text-input
{
    color: var(--side-pane-secondary-text) !important;
}

#all-filter,
#unread-filter,
#favorites-filter,
#group-filter{
    color: var(--side-pane-secondary-text) !important;
}

/* footer */
#pane-side .x1pg5gke.x1fcty0u.xvq8zen.xeaf4i8,
#pane-side .x1pg5gke.x1fcty0u.xvq8zen.xeaf4i8 *
{
    color: var(--side-pane-secondary-text) !important;
}


/* Simple Message::Text*/
/* message-in */
.message-in .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4{
    color: var(--msg-in-text) !important;
}
/* message-out */
.message-out .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4{
    color: var(--msg-out-text) !important;
}

/* Group Message In::Text */
.message-in .x9f619.x1hx0egp.x1yrsyyn.x1sxyh0{
    color: var(--msg-in-text) !important;
}

/* Reply::Text */
.message-in ._aju8 span{
    color: var(--msg-in-text) !important;
}

/* Document::Text */
/* message-in::Text::Timestamp */
.message-in ._amk6._amlo .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4 span{
    color: var(--msg-in-text) !important;
}
/* Group::Document */
.message-in ._amk6._amlo .x9f619.x1o095ql.x1u9i22x span{
    color: var(--msg-in-text) !important;
}
.message-out ._amk6._amlo .x9f619.x1o095ql.x1u9i22x span{
    color: var(--msg-out-text) !important;
}

/* Link Inner::Text */
.message-out .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4 span{
    color: var(--msg-out-text) !important;
}

/* Link::Text*/

.message-in ._amk6._amlo a{
    color: var(--msg-in-link);
}
.message-out ._amk6._amlo a{
    color: var(--msg-out-link);
}