:root{
    --msg-in: rgb(163, 144, 231);
    --msg-in-rgb: 163, 144, 231;
    --msg-out: rgb(124, 37, 80);
    --msg-out-rgb: 128, 0, 64;
    --bars: rgb(245, 215, 204);
    --some-more-bars: rgb(245, 232, 245); 
    --side-pane: #ffc5d3;
}

/* message-out */
.message-out ._amk6._amlo{
    background-color: var(--msg-out);
    color: white;
}

/* message-out insider */
.message-out ._aju8{
    background-color: rgba(var(--msg-out-rgb), 0.8) !important;
    color: white !important;
}


.message-in ._amk6._amlo{
    background-color: var(--msg-in);
}


/* message little tail */
.message-in  ._amk7{
    color: var(--msg-in) !important;
}

.message-out ._amk7
{
    color: var(--msg-out) !important;
}

/* message hover */
.x1ii9tc1{
   background: radial-gradient(at top right,
   rgba(var(--msg-in-rgb)) 60%,
   rgba(0,0,0,0) 80%) !important;
}

.xa11xnq {
    background: radial-gradient(circle at top right,
    rgba(var(--msg-out-rgb)) 40%,
    rgba(0, 0, 0, 0) 80%) !important;
}


/* special message out*/

.message-in .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4{
    background-color: var(--msg-in);
    border-radius: 0 7px 7px 7px;
    color: black;
}
.message-out .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4{
    background-color: var(--msg-out);
    border-radius: 7px 0 7px 7px;
    color: white;
}

.message-out .x9f619.x1hx0egp.x1yrsyyn.x1ct7el4 span{
    color: whitesmoke;
}

/* documents out */

.message-out ._amk6._amlo .x10wlt62.x1hl2dhg.xh8yej3.x1k6n2fr{
    background-color: rgba(var(--msg-out-rgb), 0.8) !important;
}

.message-out ._amk6._amlo .x9f619.x1o095ql.x1u9i22x.xjcl138 .x168nmei.x13lgxp2.x1k6n2fr.xmper1u{
    background-color: rgba(var(--msg-out-rgb), 0.8) !important;
    border-radius: 7px 0 7px 0 7px !important;
}

.message-out ._amk6._amlo .x9f619.x1o095ql.x1u9i22x span{
    color: white;
}

/* links out */
.message-out ._amk6._amlo a{
    /* color: rgb(173, 255, 248); */
    color: rgb(230, 125, 216);
}
.message-out ._amk6._amlo .x6ikm8r.x10wlt62.xnhwuio.x1k6n2fr{
    background-color: rgba(var(--msg-in-rgb), 0.8) !important;
}
/* special message in  */
/* Reply */
.message-in ._aju8{
    background-color: rgba(var(--msg-in-rgb), 0.6) !important;
    color: white !important;
}
.message-in ._amk6._amlo .x9f619.x1o095ql.x1u9i22x.xjcl138 .x168nmei.x13lgxp2.x1k6n2fr.xmper1u{
    background-color: var(--msg-in) !important;
    border-radius: 0 7px 7px 0 7px !important;
}

/* Chahiye Yaar And Some BARS */
.xa1v5g2.x1n2onr6.x9f619.x78zum5,
.x1n2onr6.xfo81ep.x9f619.x78zum5,
.x1n2onr6.xhtitgo.x9f619.x78zum5
{
    background-color: var(--bars);
}

/* Some more BARS */
.x9f619.x78zum5.x6s0dn4.x1s1d1n7,
.x9f619.x12lumcd.x1qrby5j.xeuugli,
.xu06os2,
._ak72.false._ak73._ak7p
{
    background: var(--some-more-bars);
}



/* Pane Side */

.x78zum5.x1q0g3np.x1a02dak.x1ky8ojb,
.xd32934.x9f619.x78zum5.x150wa6m,
._ak72.false._ak73,
#side ._aoq2._ai01,
#pane-side
{
    background-color: var(--side-pane);
}

._ak72.false._ak73 ._ak81{
    border-top: 2px solid black !important;
}

#all-filter,
#unread-filter,
#favorites-filter,
#group-filter{
    background-color: var(--some-more-bars);
}